html {
  font-family: sans-serif; /* 更改默认字体 */
  line-height: 1.15; /* 统一行高 */
  color:#000; /*页面字体颜色*/
  background:#FFF; /*页面背景*/
}
}

body,
div,
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,
form,fieldset,legend,input,textarea,
p,blockquote,
th,td{
	margin: 0;	/*清除默认外边距和内边距*/
	padding: 0
}

article,
aside,section,
footer,header,nav,
figcaption,figure{
  display: block; /* 让ie9以下不识别元素 块级显示*/
}

h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight: normal
}

table{
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img{
	border: 0
}

address,caption,cite,code,dfn,em,strong,th,var{
	font-style: normal;
	font-weight: normal
}

ol,ul{
	list-style: none
}

q:before,q:after{
	content:''
}

abbr,acronym{
	border: 0;
	font-variant: normal
}
	
sup{
	vertical-align: text-top
}

sub{
	vertical-align: text-bottom
}
	
input,textarea,select{
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%
}